---
import Layout from "../layouts/Layout.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import GithubIcon from "../icons/Github.astro";
import MailForwardIcon from "../icons/MailForward.astro";
import BriefCaseIcon from "../icons/BriefCase.astro";
import CodeIcon from "../icons/Code.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Proyects from "../components/Proyects.astro";
---

<Layout title="Leonardo Contreras portafolio - Desarrollador y Programador Web">
  <main class="px-4">
    <SectionContainer id="Home" class="md:pt-30 pb-12 pt-5 lg:pb-24 lg:pt-32">
      <img
        src="https://github.com/joseleoc.png?size=160"
        class="mb-3 aspect-square h-auto w-20 rounded-full md:w-40"
        alt="Leonardo Contreras photo"
      />

      <h1
        class="flex items-center gap-5 pb-3 text-2xl font-bold text-white md:text-4xl lg:text-5xl"
      >
        Hello, I'm Leonardo

        <Badge href="https://www.linkedin.com/in/leonardo-contreras-v/">
          Available to work
        </Badge>
      </h1>
      <h2 class="mt-2 max-w-[700px] text-wrap text-xl lg:text-2xl">
        <label id="working-time"> </label>
        <span class="text-yellow-200/90"> Web Developer. </span>
        <span class="opacity-75"> The developer your project needs. </span>
      </h2>

      <nav class="mt-8 flex flex-wrap gap-3">
        <SocialPill href="https://www.linkedin.com/in/leonardo-contreras-v/">
          <LinkedinIcon class="size-4 lg:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/joseleoc">
          <GithubIcon class="size-4 lg:size-6" />
          Github
        </SocialPill>

        <SocialPill href="mailto:joseleoc123@gmail.com">
          <MailForwardIcon class="size-4 lg:size-6" />
          joseleoc123@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="Experience">
      <h2
        class="mb-8 flex items-center gap-x-3 text-xl font-semibold md:text-2xl"
      >
        <BriefCaseIcon class="size-7" />
        Work experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="Proyects">
      <h2
        class="mb-8 flex items-center gap-x-3 text-xl font-semibold md:text-2xl"
      >
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Proyects />
    </SectionContainer>
  </main>
</Layout>

<script>
  function init() {
    const element = document.querySelector("#working-time") as HTMLLabelElement;

    if (!element) return;
    const TimestampStart = 1648810800000; // april 2022.
    const startDate = new Date(TimestampStart).getTime();
    const now = new Date().getTime();
    const diff = new Date(now - startDate);
    const workingYears = diff.getFullYear() - 1970;
    const workingMonths = diff.getMonth();

    function setWorkingTime() {
      element.innerText = `${workingYears} years ${workingMonths > 0 ? `and ${workingMonths} months` : ""} of working experience.`;
    }
    setWorkingTime();
  }

  init();
</script>
