---
import Layout from "../layouts/Layout.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import GithubIcon from "../icons/Github.astro";
import MailForwardIcon from "../icons/MailForward.astro";
import BriefCaseIcon from "../icons/BriefCase.astro";
import CodeIcon from "../icons/Code.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Proyects from "../components/Proyects.astro";
---

<Layout title="Leonardo Contreras portafolio - Desarrollador y Programador Web">
  <main class="px-4">
    <SectionContainer id="Home" class="pb-24 pt-44">
      <img
        src="https://github.com/joseleoc.png?size=64"
        class="mb-3 aspect-square h-auto w-16 rounded-full"
        alt="Leonardo Contreras photo"
      />

      <h1
        class="flex items-center gap-5 pb-3 text-2xl font-bold text-white md:text-4xl lg:text-5xl"
      >
        Hey, Soy Leonardo
        <a
          href="https://www.linkedin.com/in/leonardo-contreras-v/"
          target="_blank"
          rel="noopener"
          class="flex items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="mt-2 max-w-[700px] text-wrap text-xl lg:text-2xl">
        <span>2 años de experiencia.</span>
        <span class="text-yellow-200/90"> Desarrollador web. </span>
        <span class="opacity-75">
          Especializado en crear aplicaciones únicas
        </span>
      </h2>

      <nav class="mt-8 flex flex-wrap gap-3">
        <SocialPill href="https://www.linkedin.com/in/leonardo-contreras-v/">
          <LinkedinIcon class="size-4 lg:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/joseleoc">
          <GithubIcon class="size-4 lg:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="mailto:joseleoc123@gmail.com">
          <MailForwardIcon class="size-4 lg:size-6" />
          joseleoc123@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="Experience">
      <h2
        class="mb-8 flex items-center gap-x-3 text-xl font-semibold md:text-2xl"
      >
        <BriefCaseIcon class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="Proyects">
      <h2
        class="mb-8 flex items-center gap-x-3 text-xl font-semibold md:text-2xl"
      >
        <CodeIcon class="size-7" />
        Experiencia laboral
      </h2>
      <Proyects />
    </SectionContainer>
  </main>
</Layout>
