---
import ExperienceItem from "./ExperienceItem.astro";

import { EXPERIENCE } from "../Globals.json";
const experience = EXPERIENCE;
---

<ol class="relative ml-3 border-s border-gray-200 dark:border-gray-700">
  {
    experience.map((exp) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...exp} />
      </li>
    ))
  }
</ol>
