<header class="flex justify-between">
  <img src="" alt="Leonardo Contreras photo" />

  <nav>
    <a href="/Home">Home</a>
    <a href="/About">About</a>
    <a href="/Proyects">Proyects</a>
    <a href="/Contact">Contact</a>
  </nav>
</header>
