---
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener"
  class="hover:scale-10 flex items-center text-xs lg:text-base justify-center gap-x-2 rounded-full border border-white/10 bg-white/5 px-3 py-2 transition hover:bg-white/10 md:px-4 md:py-3"
>
  <slot />
</a>
